#tablaDeVillanos, #tablaDePaises { width:30%; float:left; margin-right: 20%; }
#editorDeVillano, #editorDePais { width:50%; float:left }
.break { clear:both }
#botones_de_edicion { float:right }
#panelDeErrores" { width:50% }

#homePage{
	background-size: 100%;
    background-repeat: no-repeat;
}

h3, h1 {
	text-align: center;
	color: white;
}

table {
	margin-left:40%;
	color: white;
	background: rgba(54, 25, 25, .5);
}

.btn-success{
	margin-left: 122%;
}

#editorDePais, 
#editorDeVillano{
	width: auto;
	color: white;
	background: rgba(54, 25, 25, .5);
}

.nav-pills > li > a {
    background-color:rgba(54, 25, 25, .5);
}

textarea, select {
	background: rgba(54, 25, 25, .5);
	color: white;
	margin-bottom: 0px;
}

input[type="text"], textarea {
	background-color: rgba(54, 25, 25, .5);
	color: white;
	margin-bottom: 0px;
}

#panelDeErrores {
	background-color: transparent;
	border-color: transparent;
	width: 20%;
	color: white;
	font-weight: bold;
}

#panelDeErroresDeVillano{
	background-color: transparent;
	border-color: transparent;
	width: 20%;
	color: black;
	font-weight: bold;
}
.botones {
	margin-top: 5%;
	margin-left: 4%;
}

#editorVillano > div > label{
	color: black;
	font-weight: bold;
}

#editorPais > div > label{
	color: white;
	font-weight: bold;
}
