#tablaDeVillanos, #tablaDePaises { width:30%; float:left; margin-right: 20%; }
#editorDeVillano, #editorDePais { width:50%; float:left }
.break { clear:both }
#botones_de_edicion { float:right }
#panelDeErrores" { width:50% }

body{
	background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2012/08/18/11247/8510282b2377877a71e219911934e1e4.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: white;
}

table {
	margin-left:40%;
	color: white;
	background: rgba(54, 25, 25, .5);
}

.btn-success{
	margin-left: 122%;
}

#editorDePais{
	width: auto;
	color: white;
	background: rgba(54, 25, 25, .5);
}